:root{
    --corFundoPrincipal: #FFFFFF;
    --corPrincipalFonte: #0D0D0D;
    --corDestaqueVerde: #7A7453;
    --corDestaqueVermelho: #7C2A2A;
    --corDestaqueBege: #C29A6E;

    --fonteDestaque: "Merriweather", serif;
    --fonteParaTexto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* ================================== */
/* ESTILOS GERAIS (Mobile First)      */
/* ================================== */

body{
    background-color: var(--corFundoPrincipal);
}

header{
    display: flex;
    margin-top: 20%;
}

header section{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section span{
    font-family: var(--fonteDestaque);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10%;
}

.primeiroSpan{
    color: var(--corDestaqueVerde);
}
.segundoSpan{
    color: var(--corDestaqueVermelho);
}

.sectionLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionLogin .containerLogin{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
}

.sectionLogin .containerLogin h3{
    margin-top: 10%;
    font-family: var(--fonteParaTexto);
    font-size: 25px;
    font-weight: 500;
    color: var(--corDestaqueVermelho);
}

.sectionLogin .containerLogin form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 55vw;
}

.sectionLogin .containerLogin form label{
    font-family: var(--fonteDestaque);
    font-size: 13px;
    color: var(--corDestaqueVermelho);
    margin-top: 10%;
}

.sectionLogin .containerLogin form input{
    border: none;
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
    font-size: 17px;
    margin-top: 1%;
}

.sectionLogin .containerLogin form input:focus{
    outline: none;
    border-bottom: 0.1rem solid var(--corDestaqueVerde);
}

.sectionLogin .containerLogin form button{
    width: 9rem;
    height: 1.8rem;
    background-color: var(--corDestaqueBege);
    color: var(--corFundoPrincipal);
    font-family: var(--fonteParaTexto);
    font-size: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.2s linear;
    margin: 20% 0% 4% 23%;
}

.sectionLogin .containerLogin form button:hover{
    background-color: var(--corFundoPrincipal);
    color: var(--corDestaqueBege);
    border: 0.1rem solid var(--corDestaqueBege);
}

.sectionLogin .containerLogin p{
    font-family: var(--fonteParaTexto);
    font-size: 14px;
}

.sectionLogin .containerLogin a{
    margin: 1% 0% 10% 0%;
    font-family: var(--fonteDestaque);
    font-size: 13px;
    color: var(--corDestaqueVermelho);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s linear;
}

.sectionLogin .containerLogin a:hover{
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
    padding-bottom: 0.1rem;
}
