:root{
    --corFundoPrincipal: #FFFFFF;
    --corPrincipalFonte: #0D0D0D;
    --corDestaqueVerde: #7A7453;
    --corDestaqueVermelho: #7C2A2A;
    --corDestaqueBege: #C29A6E;

    --fonteDestaque: "Merriweather", serif;
    --fonteParaTexto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* ================================== */
/* ESTILOS GERAIS (Mobile First)      */
/* ================================== */

body{
    background-color: var(--corFundoPrincipal);
}

.primeiroSpan{
    color: var(--corDestaqueVerde);
}
.segundoSpan{
    color: var(--corDestaqueVermelho);
}

.sectionLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.descricao-container {
    text-align: center;
    margin-bottom: 2rem;
}

.descricao-container .logo span {
    font-family: var(--fonteDestaque);
    font-weight: 500;
    font-size: 30px;
}

.descricao-container p {
    font-family: var(--fonteParaTexto);
    color: var(--corPrincipalFonte);
    font-size: 16px;
    margin-top: 1rem;
}

.descricao-container p span{
    color: var(--corDestaqueVermelho);
}

.containerLogin{
    width: 85vw;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    padding: 1rem;
}

.containerLogin h3{
    margin-top: 10%;
    font-family: var(--fonteParaTexto);
    font-size: 25px;
    font-weight: 500;
    color: var(--corDestaqueVermelho);
}

.containerLogin form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 90%;
}

.containerLogin form label{
    font-family: var(--fonteDestaque);
    font-size: 13px;
    color: var(--corDestaqueVermelho);
    margin-top: 10%;
}

.containerLogin form input, textarea{
    border: none;
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
    font-size: 17px;
    margin-top: 1%;
    padding-bottom: 5px;
    background-color: transparent;
}

.containerLogin form input:focus,
.containerLogin form textarea:focus {
    outline: none;
    border-bottom: 0.1rem solid var(--corDestaqueVerde);
}

.containerLogin form #fotoUsuario{
    border-bottom: none;
}

.containerLogin form button{
    width: 9rem;
    height: 1.8rem;
    background-color: var(--corDestaqueBege);
    color: var(--corFundoPrincipal);
    font-family: var(--fonteParaTexto);
    font-size: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.2s linear;
    margin: 20% auto 4% auto;
}

.containerLogin form button:hover{
    background-color: var(--corFundoPrincipal);
    color: var(--corDestaqueBege);
    border: 0.1rem solid var(--corDestaqueBege);
}

.containerLogin p{
    font-family: var(--fonteParaTexto);
    font-size: 14px;
}

.containerLogin a{
    margin: 1% 0% 10% 0%;
    font-family: var(--fonteDestaque);
    font-size: 13px;
    color: var(--corDestaqueVermelho);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s linear;
}

.containerLogin a:hover{
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
    padding-bottom: 0.1rem;
}

.error {
    color: red;
    font-size: 0.9em;
}

.alerta {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: var(--fonteParaTexto);
    font-size: 15px;
    text-align: center;
}

.alerta.sucesso {
    color: #155724; /* Verde escuro para o texto */
    background-color: #d4edda; /* Fundo verde claro */
    border: 1px solid #c3e6cb; /* Borda verde */
}

.alerta.erro {
    color: #721c24; /* Vermelho escuro para o texto */
    background-color: #f8d7da; /* Fundo rosa/vermelho claro */
    border: 1px solid #f5c6cb; /* Borda vermelha */
}


/* ===================================== */
/* ESTILOS PARA TELAS MÉDIAS (Tablets) */
/* ===================================== */
@media screen and (min-width: 768px) {
    .descricao-container {
        max-width: 500px;
    }
    .descricao-container .logo span {
        font-size: 38px;
    }
    .descricao-container p {
        font-size: 20px;
    }

    .containerLogin {
        width: 60vw;
        padding: 2rem 0;
    }
    .containerLogin form {
        width: 70%;
    }
}

/* ======================================= */
/* ESTILOS PARA TELAS GRANDES (Desktops) */
/* ======================================= */
@media screen and (min-width: 1200px) {
    .sectionLogin {
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 2rem;
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .descricao-container {
        text-align: left;
        margin-bottom: 0;
    }

    .descricao-container .logo{
        margin-bottom: 0px;
    }

    .descricao-container .logo span {
        font-size: 52px;
    }

    .descricao-container p {
        font-size: 22px;
        max-width: 400px;
    }

    .containerLogin {
        width: 100%;
        padding: 2.5rem 0;
        margin: 0;
    }
}