:root{
    --corFundoPrincipal: #FFFFFF;
    --corPrincipalFonte: #0D0D0D;
    --corCinzaFonte: #808080;
    --corDestaqueVerde: #7A7453;
    --corDestaqueVermelho: #7C2A2A;
    --corDestaqueBege: #C29A6E;

    --fonteDestaque: "Merriweather", serif;
    --fonteParaTexto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


header{
    width: 100vw;
    padding: 1% 0% 1% 0%;
    border-bottom: 0.1rem solid var(--corDestaqueVerde);
}

header section{
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

header section #divMenuHamburguer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

header section #divMenuHamburguer span{
    display: block;
    height: 2px;
    background-color: var(--corDestaqueVerde);
}

header section .divNomeSite span{
    font-family: var(--fonteDestaque);
    font-weight: 500;
    font-size: 30px;
}

.primeiroSpan{
    color: var(--corDestaqueVerde);
}
.segundoSpan{
    color: var(--corDestaqueVermelho);
}

header section .divFotoUsuario{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
}

header section .divFotoUsuario img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sectionBarraProgresso{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.sectionBarraProgresso .cardProgresso .tituloProgresso{
    display: flex;
    gap: 10px;
    margin: 0.5rem 0.5rem;
}

.sectionBarraProgresso .cardProgresso h3{
    color: var(--corDestaqueVermelho);
    font-family: var(--fonteDestaque);
    font-weight: 600;
    font-size: 15px;
}

.sectionBarraProgresso .cardProgresso{
    width: 100%;
    height: auto;
    background-color: var(--corFundoPrincipal);
    position: relative;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem 1.5rem 0.5rem;
}

.sectionBarraProgresso .cardProgresso .paragrafoAtualizar{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    font-family: var(--fonteParaTexto);
    font-size: 15px;
    color: var(--corCinzaFonte);
}


.sectionBarraProgresso .cardProgresso .progressoPai{
    margin-top: 2%;
    width: 100%;
    height: 1rem;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 40px;
}

.sectionBarraProgresso .cardProgresso #progresso{
    height: 1rem;
    width: 30%;
    border-radius: 40px;
    background-color: var(--corDestaqueVermelho);
    position: relative;
    transition: width 0.3s ease-in-out;
    align-self: center;

    display: flex;
}

.sectionBarraProgresso .cardProgresso #progresso span{
    font-size: 13px;
    color: var(--corFundoPrincipal);
    padding-left: 15px;
}

/* AQUI COMEÇA O ESTILO DOS CARDS, TODO CARD*/
/*TODO CARD TERÁ ESSE MESMO ESTILO APLICADO*/

.sectionCards{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
}

.sectionCards .divCard{
    margin-top: 5%;
    width: 100%;
    padding: 1rem 2rem 0rem 2rem;
    background-color: var(--corFundoPrincipal);
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
}

.sectionCards .divCard .divCardTextoIcone{
    display: flex;
    justify-content: space-between;
}

.sectionCards .divCard .divCardTextoIcone .cardContainerTexto .divCardParagrafo{
    margin-top: 5%;
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.sectionCards .divCard .divCardTextoIcone .cardContainerTexto .divCardParagrafo div{
    display: flex;
    gap: 7px;
    font-family: var(--fonteParaTexto);
    font-size: 14px;
    margin-bottom: 1%;
}

.sectionCards .divCard .divCardTextoIcone .cardContainerTexto h4{
    font-family: var(--fonteDestaque);
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
}
.sectionCards .divCard .divCardTextoIcone .cardContainerTexto span{
    font-weight: 600;
}


.sectionCards .divCard .divCardTextoIcone .cardContainerIcone{
    display: flex;
    flex-direction: column;
}

.sectionCards .divCard .divCardProgresso{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.sectionCards .divCard .divCardProgresso span{
    font-family: var(--fonteParaTexto);
    font-size: 13px;
    font-weight: 500;
}

.sectionCards .divCard .divCardProgresso .divProgressoPai{
    margin-top: 1%;
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 40px;
}
.sectionCards .divCard .divCardProgresso .divProgressoPai .divProgressoFilho{
    height: 0.5rem;
    width: 20%;
    border-radius: 40px;
    background-color: var(--corDestaqueVermelho);
    position: relative;
    transition: width 0.3s ease-in-out;
}

/*DIV ABSOLUT PARA O BOTÃO CRIAR PLANO FICAR SEMPRE APARECENDO*/
/*-----------------------------------------------------------*/ 

.divAbsolutBotao{
    position: absolute;
    top: 93%;
    right: 2%;
    display: flex;
}

.botaoAncora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 1.8rem;
    background-color: var(--corDestaqueBege);
    color: var(--corFundoPrincipal);
    font-family: var(--fonteParaTexto);
    font-size: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    margin-bottom: 3%;
    cursor: pointer;
    transition: 0.2s linear;
}
.botaoAncora:hover{
    background-color: var(--corFundoPrincipal);
    color: var(--corDestaqueBege);
    border: 0.1rem solid var(--corDestaqueBege);
}
.botaoAncora:hover path{
    stroke:var(--corDestaqueBege);
    fill: var(--corDestaqueBege);
}

.botaoAncora svg{
    margin-right: 5%;
}


