:root{
    --corFundoPrincipal: #FFFFFF;
    --corPrincipalFonte: #0D0D0D;
    --corDestaqueVerde: #7A7453;
    --corDestaqueVermelho: #7C2A2A;
    --corDestaqueBege: #C29A6E;

    --fonteDestaque: "Merriweather", serif;
    --fonteParaTexto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* ================================== */
/* ESTILOS GERAIS (Mobile First)      */
/* ================================== */

body{
    background-color: var(--corFundoPrincipal);
}

header{
    display: flex;
}

header section{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

header section .linhaPrimaria{
    width: 10%;
    height: 0.1px;
    background-color: var(--corDestaqueVerde);
    opacity: 0.7;
    margin-right: 1%;
}

header section .linhaSecundaria{
    width: 100%;
    height: 0.1px;
    background-color: var(--corDestaqueVermelho);
    opacity: 0.7;
    margin-left: 1%;
}

header section span{
    font-family: var(--fonteDestaque);
    font-weight: 500;
    font-size: 30px;
}

.primeiroSpan{
    color: var(--corDestaqueVerde);
}
.segundoSpan{
    color: var(--corDestaqueVermelho);
}

.sectionPrincipal{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.sectionPrincipal .divTexto{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 0rem 2rem;
}

.sectionPrincipal .divTexto h2{
    font-family: var(--fonteDestaque);
    font-weight: 600;
    font-size: 28px;
    color: var(--corDestaqueVermelho);
    transform: scale(0);
    transition: 0.9s ease-in;
}
.sectionPrincipal .divTexto h2.aparecer{
    transform: scale(1);
}

.sectionPrincipal .divTexto p{
    font-family: var(--fonteParaTexto);
    font-size: 17px;
    margin-top: 1%;
    transform: scale(0);
    transition: 0.9s ease-in;
}
.sectionPrincipal .divTexto p.aparecer{
    transform: scale(1);
}

.sectionPrincipal .divTexto p span{
    font-size: 22px;
    font-weight: 700;
    transform: scale(0);
    transition: 0.8s ease-in;
}
.sectionPrincipal .divTexto p span.aparecer{
    transform: scale(1);
}

.sectionPrincipal .divImagem{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPrincipal .divImagem img{
    width: 60%;
    height: auto;
    transform: scale(0);
    transition: 0.6s ease-in;
}
.sectionPrincipal .divImagem img.aparecer{
    transform: scale(1);
}

.sectionPrincipal #divBotaoTexto{
    visibility: hidden;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    animation: divIn 0.8s 0.1s forwards;
}

@keyframes divIn{
    from{
        transform: translateY(300%);
    }to{
        transform: translateY(0);
    }
}

.botaoAncora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 1.8rem;
    background-color: var(--corDestaqueBege);
    color: var(--corFundoPrincipal);
    font-family: var(--fonteDestaque);
    font-size: 15px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    margin-bottom: 3%;
    cursor: pointer;
    transition: 0.2s linear;
}

.botaoAncora:hover{
    background-color: var(--corFundoPrincipal);
    color: var(--corDestaqueBege);
    border: 0.1rem solid var(--corDestaqueBege);
}

.sectionPrincipal #divBotaoTexto p{
    font-family: var(--fonteParaTexto);
    font-size: 14px;
}

.sectionPrincipal #divBotaoTexto .ancora{
    margin-top: 1%;
    font-family: var(--fonteDestaque);
    font-size: 13px;
    color: var(--corDestaqueVermelho);
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s linear;
}

.sectionPrincipal #divBotaoTexto .ancora:hover{
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
    padding-bottom: 0.1rem;
}