:root{
    --corFundoPrincipal: #FFFFFF;
    --corPrincipalFonte: #0D0D0D;
    --corCinzaFonte: #808080;
    --corDestaqueVerde: #7A7453;
    --corDestaqueVermelho: #7C2A2A;
    --corDestaqueBege: #C29A6E;

    --fonteDestaque: "Merriweather", serif;
    --fonteParaTexto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.sectionMinhaConta{
    display: flex;
    flex-direction: column;
    margin: 6%;
}

.sectionMinhaConta .divTituloMinhaConta{
    display: flex;
    gap: 5px;
    color: var(--corDestaqueVermelho);
    font-family: var(--fonteDestaque);
    font-weight: 700;
    border-bottom: 0.1rem solid var(--corDestaqueVerde);
}

.sectionMinhaConta .divFotoNomeUsuario{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sectionMinhaConta .divFotoNomeUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionMinhaConta .divFotoNomeUsuario span{
    font-family: var(--fonteParaTexto);
    font-weight: 600;
    margin-top: 10px;
}

.sectionMinhaConta .divFotoNomeUsuario .divFotoUsuario{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
}

.sectionMinhaConta .divFotoNomeUsuario .divFotoUsuario img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sectionMinhaConta .divFotoNomeUsuario .alterarFoto{
    display: flex;
    justify-content: center;
    font-family: var(--fonteParaTexto);
    font-size: 14px;
    margin-top: 5px;
}
.sectionMinhaConta .divFotoNomeUsuario .alterarFoto a {
    color: var(--corDestaqueVermelho);
}
.sectionMinhaConta .divFotoNomeUsuario .alterarFoto a:hover{
    border-bottom: 0.1rem solid var(--corDestaqueVermelho);
}


.sectionMinhaConta .divDescricaoUsuario{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-family: var(--fonteParaTexto);
}

.sectionMinhaConta .divDescricaoUsuario div{
    padding: 15px;
    margin-top: 5px;
    font-size: 15px;
    background-color: rgba(122,116,83,0.2);
    border-radius: 10px;
}

.sectionMinhaConta .divBotoesAlteracao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sectionMinhaConta .divBotoesAlteracao a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    background-color: var(--corFundoPrincipal);
    box-shadow: 1px 1.4px 3px 0px rgba(0,0,0,0.3);
    border: 0.1rem dashed var(--corDestaqueVermelho);
    font-family: var(--fonteParaTexto);
    font-size: 14px;
    color: var(--corPrincipalFonte);
    border-radius: 10px;
    margin-top: 15px;

    transition: 0.3s linear;
}

.sectionMinhaConta .divBotoesAlteracao a:hover{
    background-color: rgba(124,42,42,0.3);
}