<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/diasEstudoStyle.css">
    <link rel="stylesheet" href="../static/css/homeStyle.css">
    <title>Planorama - Dias de Estudo</title>
</head>

<body>
    <header class="conteudoPrincipal">
        <section>
            <div id="divMenuHamburguer">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="divNomeSite">
                <a href="index.html"><span class="primeiroSpan">Plano</span><span class="segundoSpan">rama</span></a>
            </div>

            <div class="divFotoUsuario">
                <img src="../static/img/gatinho.jpg">
            </div>
        </section>
    </header>

    <section id="sectionAparecerMenu"></section>

    <section class="sectionDiasEstudo conteudoPrincipal">
        <div class="tituloDiasEstudo">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 15 15">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M4.5 1a.5.5 0 0 1 .5.5V2h5v-.5a.5.5 0 0 1 1 0V2h1.5A1.5 1.5 0 0 1 14 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 1 12.5v-9A1.5 1.5 0 0 1 2.5 2H4v-.5a.5.5 0 0 1 .5-.5M10 3v.5a.5.5 0 0 0 1 0V3h1.5a.5.5 0 0 1 .5.5V5H2V3.5a.5.5 0 0 1 .5-.5H4v.5a.5.5 0 0 0 1 0V3zM2 6v6.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V6zm5 1.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M9.5 7a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1m1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m.5 1.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M9 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M7.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M5 9.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0M3.5 9a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1M3 11.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1m1.5.5a.5.5 0 1 1 1 0a.5.5 0 0 1-1 0m2.5-.5a.5.5 0 1 0 0 1a.5.5 0 0 0 0-1"
                    clip-rule="evenodd" />
            </svg>
            <h1>Dias de Estudo</h1>
        </div>

        <div class="divFogoContagem">
            <div class="iconeFogo">🔥</div>
            <p><span id="contagemTotal">0</span> dias</p>
        </div>

        <div class="containerCalendario">
            <h2 id="nomeMes">Agosto</h2>
            <div class="gridCalendario" id="gridCalendario">
            </div>
        </div>

        <div class="legend">
            <div class="legend-item">
                <span class="legend-dot studied"></span>
                <p>Dias estudados</p>
            </div>
            <div class="legend-item">
                <span class="legend-dot not-studied"></span>
                <p>Dias não estudados</p>
            </div>
        </div>

    </section>

    <script src="../static/js/diasEstudoScripts.js"></script>
    <script src="../static/js/menuScripts.js"></script>
</body>

</html>