<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
    <title>Planorama</title>
</head>
<body>
    <header>
        <section>
            <div class="linhaPrimaria"></div>
            <span class="primeiroSpan">Plano</span><span class="segundoSpan">rama</span>
            <div class="linhaSecundaria"></div>
        </section>
    </header>

    <section class="sectionPrincipal">
        <div class="divTexto">
            <h2>Bem vindo!</h2>
            <p class="paragrafo">Que tal dar início agora ao seu planejamento de estudos?</p> 
            <p class="paragrafo">É <span class="segundoSpan">fácil</span> e <span class="primeiroSpan">rápido</span>.</p>
        </div>

        <div class="divImagem">
            <img th:src="@{/img/imagemPrincipal-SWeb.png}" alt="Imagem ilustrativa do sistema Planorama">
        </div>

        <div id="divBotaoTexto">
            <a class="botaoAncora" th:href="@{/login}">Login</a>
            <p>Não possui uma conta?</p>
            <a class="ancora" th:href="@{/cadastro}">Cadastre-se</a>
        </div>
    </section>

    <footer></footer>

    <script th:src="@{/js/indexScripts.js}"></script>
</body>
</html>