<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/minhaContaStyle.css}">
    <link rel="stylesheet" th:href="@{/css/menuStyle.css}">
    <link rel="stylesheet" th:href="@{/css/barraNavStyle.css}">
    <link rel="stylesheet" th:href="@{/css/modalStyle.css}">
    <link rel="stylesheet" th:href="@{/css/alterarCardStyle.css}">
    <title>Planorama - Minha conta</title>
</head>

<body>
    <div th:replace="~{barraNavegacao :: barraNav}"></div>

    <div th:replace="~{menu :: menuFragment}"></div>

    <section id="sectionAparecerMenu"></section>

    <section class="sectionMinhaConta conteudoPrincipal">
        <div class="divTituloMinhaConta">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                <path fill="currentColor"
                    d="M10.561 8.073a6 6 0 0 1 3.432 5.142a.75.75 0 1 1-1.498.07a4.5 4.5 0 0 0-8.99 0a.75.75 0 0 1-1.498-.07a6 6 0 0 1 3.431-5.142a3.999 3.999 0 1 1 5.123 0M10.5 5a2.5 2.5 0 1 0-5 0a2.5 2.5 0 0 0 5 0" />
            </svg>
            <span>Minha Conta</span>
        </div>

        <div th:if="${success}" class="alerta sucesso">
            <p th:text="${success}"></p>
        </div>

        <div th:if="${error}" class="alerta erro">
            <p th:text="${error}"></p>
        </div>

        <div class="divFotoNomeUsuario">
            <div class="divFotoUsuario" th:if="${usuarioLogado != null}">
                <img th:src="@{${usuarioLogado.fotoUsuario != null ? usuarioLogado.fotoUsuario : '/img/gatinho.jpg'}}"
                    alt="Foto do Perfil">
            </div>
            <span id="spanNomeUsuario" th:text="${usuarioLogado.nome}">Gatinho Zarolho</span>


            <div class="alterarFoto">
                <a href=" "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z" />
                    </svg>Alterar Foto
                </a>
            </div>
        </div>

        <div class="divDescricaoUsuario">
            <span>Descrição:</span>
            <div>
                <p th:text="${usuarioLogado.descricaoUsuario}">Meu objetivo é ajdhuasghdua dadbiuagdwiu afdIUFUBOUB
                    DFASBDAJSBDASBDUOADOA
                    usbdoauihwoirbeiwbiuegbfwbsfbs sfsodifhsodifhsoidhfoisdhfodshofsdih</p>
            </div>
        </div>

        <div class="divBotoesAlteracao">
            <a id="ancoraAlterarNome" href="" class="abrir-modal" th:data-url="@{/minha-conta/alterar-nome}">Alterar
                Nome de Usuário</a>
            <a id="ancoraAlterarEmail" href="" class="abrir-modal" th:data-url="@{/minha-conta/alterar-email}">Alterar
                Email Atual</a>
            <a id="ancoraAlterarSenha" href="" class="abrir-modal" th:data-url="@{/minha-conta/alterar-senha}">Alterar
                Senha Atual</a>
            <a id="ancoraAlterarDescricao" href="" class="abrir-modal"
                th:data-url="@{/minha-conta/alterar-descricao}">Alterar Descrição Atual</a>
        </div>
    </section>

    <div id="modal-container"></div>

    <footer></footer>

    <script th:src="@{js/menuScripts.js}"></script>
    <script th:src="@{js/modalScripts.js}"></script>
</body>

</html>