<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <link rel="stylesheet" th:href="@{/css/barraNavStyle.css}">
    <link rel="stylesheet" th:href="@{/css/menuStyle.css}">
    <link rel="stylesheet" th:href="@{/css/administrarUsuarioStyle.css}">
    <link rel="stylesheet" th:href="@{/css/criarPlanoStyle.css}">
    <link rel="stylesheet" th:href="@{/css/modalStyle.css}">
    <title>Planorama - Selecione um Planejamento</title>
</head>

<body>
    <div th:replace="~{barraNavegacao :: barraNav}"></div>

    <div th:replace="~{menu :: menuFragment}"></div>

    <section class="sectionAdmUsuario conteudoPrincipal">
        <div class="divInformativa">
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <path fill="currentColor"
                        d="M8 26H4a2 2 0 0 1-2-2v-4h2v4h4zM2 12h2v4H2zm24-4h-2V4h-4V2h4a2 2 0 0 1 2 2zM12 2h4v2h-4zM4 8H2V4a2 2 0 0 1 2-2h4v2H4zm23 24a1 1 0 0 1-.707-.293l-6.138-6.138l-3.323 4.986a1 1 0 0 1-1.79-.268l-6-20a1 1 0 0 1 1.245-1.245l20 6a1 1 0 0 1 .268 1.79l-4.986 3.323l6.138 6.138a1 1 0 0 1 0 1.414l-4 4A1 1 0 0 1 27 32m0-2.414L29.586 27l-7.155-7.155l5.246-3.498l-16.185-4.855l4.855 16.185l3.498-5.246z" />
                </svg>
                Selecione um Planejamento
            </h3>

            <p>Você pode selecionar um Planejamento pré-cadastrado.</p>
        </div>

        <!--DIVS RESPOSAVEIS POR EXIBIR MSG DE SUCESSO OU ERRO-->
        <div th:if="${success}" class="alerta sucesso">
            <p th:text="${success}"></p>
        </div>
        <!--DIVS RESPOSAVEIS POR EXIBIR MSG DE SUCESSO OU ERRO-->
        <div th:if="${error}" class="alerta erro">
            <p th:text="${error}"></p>
        </div>
    </section>

    <section class="sectionCards conteudoPrincipal">
        <div class="divCard" th:each="planejamento : ${allPlanejamentos}">
            <div class="divCardTextoIcone">
                <div class="cardContainerTexto">
                    <h4 class="nomePlano" th:text="${planejamento.nomePlanejamento}">Programação Web</h4>

                    <div class="divCardParagrafo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <path fill="currentColor"
                                    d="M8.8 0c.274 0 .537.113.726.312l3.2 3.428c.176.186.274.433.274.689V13a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1zM12 5H8.5a.5.5 0 0 1-.5-.5V1H2v12h10zm-7.5 6a.5.5 0 1 1 0-1h5a.5.5 0 1 1 0 1zm0-3a.5.5 0 0 1 0-1h5a.5.5 0 1 1 0 1zm1 8a.5.5 0 1 1 0-1H14V6.5a.5.5 0 1 1 1 0V15a1 1 0 0 1-1 1z" />
                            </svg>
                            <span>Cargo:</span>
                            <p class="paragrafoCard" th:text="${planejamento.cargo}">Dev. Sistemas</p>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m.5-13H11v6l5.2 3.2l.8-1.3l-4.5-2.7z" />
                            </svg>
                            <span>Carga Horária:</span>
                            <p class="paragrafoCard" th:text="${planejamento.horasDiarias} + 'h'">20h</p>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z" />
                                <path fill="currentColor"
                                    d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2M19 8l.001 12H5V8z" />
                            </svg>
                            <span>Ano de atuação:</span>
                            <p class="paragrafoCard" th:text="${planejamento.anoAplicacao}">2025</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="divAcaoCard">
                <form th:action="@{/selecionar-planejamento}" method="post">
                    <input type="hidden" name="id" th:value="${planejamento.id}" />
                    <button type="submit" class="botao-selecionar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
                            <path fill="currentColor"
                                d="M8 26H4a2 2 0 0 1-2-2v-4h2v4h4zM2 12h2v4H2zm24-4h-2V4h-4V2h4a2 2 0 0 1 2 2zM12 2h4v2h-4zM4 8H2V4a2 2 0 0 1 2-2h4v2H4zm23 24a1 1 0 0 1-.707-.293l-6.138-6.138l-3.323 4.986a1 1 0 0 1-1.79-.268l-6-20a1 1 0 0 1 1.245-1.245l20 6a1 1 0 0 1 .268 1.79l-4.986 3.323l6.138 6.138a1 1 0 0 1 0 1.414l-4 4A1 1 0 0 1 27 32m0-2.414L29.586 27l-7.155-7.155l5.246-3.498l-16.185-4.855l4.855 16.185l3.498-5.246z" />
                        </svg>
                        Selecionar
                    </button>
                </form>
            </div>
        </div>

        <div class="divSemPlanejamento" th:if="${#lists.isEmpty(allPlanejamentos)}">
            <p>Ainda não há planejamentos Pré-Cadastrados no sistema para selecionar.</p>
            <img th:src="@{/img/imagemSemPreCadastrado.png}" />
        </div>
    </section>

    <footer></footer>

    <script th:src="@{/js/menuScripts.js}"></script>
    <script th:src="@{/js/criarPlanoScripts.js}"></script>
    <script th:src="@{/js/modalScripts.js}"></script>
</body>

</html>