<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Plano de Estudos</title>
    <link rel="stylesheet" th:href="@{/css/telaPlanoStyle.css}">
</head>
<body>
<div th:replace="~{barraNavegacao :: nav}"></div>

<div class="main-container">
    <h1 th:text="${plano.nomePlanejamento}">Nome do Plano de Estudos</h1>
    <h3 th:text="${plano.cargo}">Cargo do Concurso</h3>

    <div class="ciclo-container">
        <div id="ciclo-visual" class="ciclo-visual">
        </div>

        <div id="lista-materias" class="lista-materias">
            <h2>Matérias do Ciclo</h2>
            <ul>
            </ul>
        </div>
    </div>

    <div id="cronometro-container" class="cronometro-container" style="display:none;">
        <h2 id="cronometro-materia">Nome da Matéria</h2>
        <div id="cronometro-display">00:00</div>
        <button id="btn-concluir">Concluir Sessão</button>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const cicloData = /*[[${ciclo}]]*/ [];
    /*]]>*/
</script>

<script th:src="@{/js/telaPlanoScripts.js}"></script>
</body>
</html>