<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<body>

    <main class="sectionCriarPlano-segundo cardCriacao corpo" th:fragment="cardCriacao">
        <div class="titulo">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48">
                    <path fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="4"
                        d="M24 32V16m18 11v-6M6 27v-6m8-15H8a2 2 0 0 0-2 2v6m28-8h6a2 2 0 0 1 2 2v6m-8 28h6a2 2 0 0 0 2-2v-6m-28 8H8a2 2 0 0 1-2-2v-6M27 6h-6m11 18H16m11 18h-6" />
                </svg>
                <span>Criar Planejamento</span>
            </div>

            <div>
                <p>Defina a carga horária e seu nível de conhecimento em cada matéria <br>(1 = Péssimo, 2 = Ruim, 3 =
                    Razoável,
                    4 = Bom, 5 = Ótimo).</p>
            </div>
        </div>

        <form id="formCriarPlanejamento_3" th:action="@{/criar-planejamento/finalizar}" th:object="${planejamentoDTO}"
            method="post">
            <div class="containerMaterias">
                <div class="cardMaterias" th:each="materia, iterStat: *{materias}">
                    <span th:text="${materia.materiaEntity.nomeMateria}">Lingua Portuguesa</span>

                    <input type="hidden" th:field="*{materias[__${iterStat.index}__].materiaEntity}" />

                    <div class="divConhecimento">
                        <label for="nivelConhecimento">Nível de Conhecimento:</label>
                        <input type="number" id="nivelConhecimento"
                            th:field="*{materias[__${iterStat.index}__].nivelConhecimento}">

                        <span class="error"
                            th:if="${#fields.hasErrors('materias[__${iterStat.index}__].nivelConhecimento')}"
                            th:errors="*{materias[__${iterStat.index}__].nivelConhecimento}">
                        </span>
                    </div>

                    <div class="divCargaHoraria">
                        <label for="cargaHorariaMateriaPlano">Carga Horária:</label>
                        <input type="number" id="cargaHorariaMateriaPlano"
                            th:field="*{materias[__${iterStat.index}__].cargaHorariaMateriaPlano}">

                        <span class="error"
                            th:if="${#fields.hasErrors('materias[__${iterStat.index}__].cargaHorariaMateriaPlano')}"
                            th:errors="*{materias[__${iterStat.index}__].cargaHorariaMateriaPlano}">
                        </span>
                    </div>
                </div>

                <div class="divBotoes">
                    <a th:href="@{/criar-planejamento/segundo-card}"><button id="botaoCancelarFinalizar"
                            class="botaoAncora abrir-sub-modal">Cancelar</button></a>
                    <button type="submit" id="botaoConfirmarFinalizar" class="botaoAncora">Finalizar</button>
                </div>
            </div>
        </form>
    </main>

    <footer></footer>
</body>

</html>